<div class="side-nav-content">

   <ul class="nav-list" [ngClass]="{'nav-list-open': sideNavStatus}">
      <li class="nav-list-item">
        <i class="fa-solid fa-graduation-cap icons"></i>
         <span>
            <a href="#">students</a>
         </span>
      </li>
      <li class="nav-list-item">
         <i class="fa-solid fa-book icons"></i>
         <span>
            <a href="#">courses</a>
         </span>
      </li>
      <li class="nav-list-item">
        <i class="fa-solid fa-person-chalkboard icons"></i>
         <span>
            <a href="#">teachers</a>
         </span>
      </li>
   </ul>
</div>
